---
import Layout from '../../layouts/DefaultLayout.astro';
import '../../styles/blog.css';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: CollectionEntry<'blog'>) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

// Get the post from props
const { post } = Astro.props as { post: CollectionEntry<'blog'> };
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main class="min-h-[calc(100vh-160px)] max-w-full md:max-w-4xl mx-auto px-4 lg:px-16">
    <div class="border-x border-zinc-200 dark:border-zinc-700 md:border-0 bg-zinc-50 dark:bg-zinc-950 md:bg-transparent dark:md:bg-transparent py-16 px-4">
      {/* Substack link at the bottom */}
      {post.data.substackLink && (
        <p class="mt-8 text-center">
          Also available in Spanish on{" "}
          <a
            href={post.data.substackLink}
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-600 dark:text-blue-400 hover:underline"
          >
            Substack</a>.
        </p>
      )}
      <!-- Image -->
      <div>
        {post.data.image && (
          <img
            src={post.data.image}
            alt={post.data.title}
            class="w-full h-auto mb-8"
          />
        )}
      </div>

      <!-- Title -->
      <h1 class="text-3xl sm:text-4xl font-medium tracking-tight mb-2 text-zinc-950 dark:text-zinc-50">{post.data.title}</h1>
      
      <!-- Date -->
      <p class="text-zinc-500 dark:text-zinc-400 text-sm mb-4">
        {post.data.pubDate.toLocaleDateString()}
      </p>
      <!-- Content -->
      <article class="content prose max-w-none mt-6 text-base lg:text-lg text-zinc-700 dark:text-zinc-300">
        <Content />
      </article>
    </div>
  </main>
</Layout>

