---
import "../styles/global.css"
import {fixedTitle} from "../consts/fixedTitle.ts"
import Header from "../sections/Header.astro"
import Footer from "../sections/Footer.astro"

interface Props {
  title: string
  description?: string
  canonical?: string
  robots?: string
}

const {
  title = fixedTitle,
  description = 'Albert Calvet - Digital Product Manager',
  canonical,
  robots,
} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>

		<meta name="description" content={description} />
    	{canonical && <link rel="canonical" href={canonical} />}
    	{robots && <meta name="robots" content={robots} />}

		<!-- Material Icon -->

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>
	<body class="relative min-h-screen bg-zinc-50">
		<Header />
		<slot />
		<script src="../scripts/menu.ts"></script>
		<Footer />
	</body>
</html>
